.view {
  height: 30%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

#mainContent {
    background-color: rgb(235, 235, 224);
}

.card-wrapper {
	height: auto;
}

.card {
    margin-top: 10px;
    padding-bottom: 10px;
}
.card-title {
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.card-content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-action {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

#scheduler, #weather, #bookin {
    background-color: rgb(215, 215, 193);
}

#scheduler #imageScheduleStatic, #scheduler:hover #imageScheduleAnimated {
    display: inline;

}
#scheduler #imageScheduleAnimated, #scheduler:hover #imageScheduleStatic {
    display: none;
}

#weather #imageWeatherStatic, #weather:hover #imageWeatherAnimated {
    display: inline;

}
#weather #imageWeatherAnimated, #weather:hover #imageWeatherStatic {
    display: none;
}

#bookin #imageBookinStatic, #bookin:hover #imageBookdinAnimated {
    display: inline;

}
#bookin #imageBookdinAnimated, #bookin:hover #imageBookinStatic {
    display: none;
}