

.view {
  height: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

#mainContent {
    background-color: rgb(248, 246, 246);
}

.jumbotron{ 
    margin-bottom: 0;
    padding-bottom: 0;
	background-size: cover; 
	background-repeat: no-repeat; 
} 

.card-wrapper {
	height: auto;
}

.card {
    margin-top: 10px;
    padding-bottom: 10px;
}
.card-title {
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.card-content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-action {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}



#scheduler #imageScheduleStatic, #scheduler:hover #imageScheduleAnimated {
    display: inline;

}
#scheduler #imageScheduleAnimated, #scheduler:hover #imageScheduleStatic {
    display: none;
}

#weather #imageWeatherStatic, #weather:hover #imageWeatherAnimated {
    display: inline;

}
#weather #imageWeatherAnimated, #weather:hover #imageWeatherStatic {
    display: none;
}

#bookin #imageBookinStatic, #bookin:hover #imageBookdinAnimated {
    display: inline;

}
#bookin #imageBookdinAnimated, #bookin:hover #imageBookinStatic {
    display: none;
}